{% extends 'base.html'%}
{% import 'macros.html' as macro%}




{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}



{% block content %}

<div class="bgimg-1">
    <div class="caption">
      <span class="">Welcome to My blog</span><br>
      <span class="border">John Victor</span>
    </div>
</div>

<div class="blog-summary">
  <h3>The Blog</h3>
  <p>This platform provides both the user and the writer with the opportunity to freely
  express themselves without the fear of being judged.</p>
</div>

<div class="bgimg-1">
    <div class="caption">
      <span class="border">THE BLOG</span>
    </div>
  </div>

{% endblock%}
